h1 {
    color: rgb(6, 94, 94);
    text-shadow: 100px 100px 100px 150px;
    font: size 500px;
    font-weight: 600;
}
body {
    background-color: #abc7ab;
}
img { border-radius: 20%;
    box-sizing: border-box;
    width: 450px;
    height: 450px;
}
li {
    color: blueviolet;
    width: 40px;
    height: 40px;
    padding: 40px;
    font-size: 30px;
    display:inline-block
}